{% extends "backend/layout.twig" %}
{% import "backend/form.twig" as form %}

{% block content %}
  {% if (object) %}
    <div style="float: right; margin-right: 100px">
      <form id="delete-form" method="post">
        <a class="delete-btn" form="delete-form" style="color: red" href="#">Supprimer</a>
        <input type="hidden" name="delete" value="1">
      </form>
    </div>
    <br>
  {% endif %}
  
  {# fields #}
  {% if hasFieldsToDisplay %}
    <form method="post">
      {% set currentSection = '' %}
      {% set isEven = true %}
      <section>
      {% for fieldName, field in fields %}
        {% if field.section is defined and field.section != currentSection %}
          </section>
          {% set isEven = not isEven %}        
          <section {% if not isEven %}class="grey-background"{% endif %}>
          <h2>{{field.section}}</h2>
          {% set currentSection = field.section %}
        {% endif %}
        {% set fieldValue = (object ? object[fieldName]:'') %} 
        {% if fieldName != 'position' %}
          {{ form.component(fieldName, field, fieldValue) }}
        {% endif %}
      {% endfor %}
    </section>
  		{% if (object) %}
  	    {% for category,tags in potentialTags %}
  	      {{ app['gallery.objects'][app.request.get('objectType')]['tag.classes'][category]['label']}}
  	      <select name="tags[{{category}}]">
  	          <option value=""></option>
  	        {% for tag in tags %}
  	          <option value="{{tag.id}}" {{ (object is defined and object.tags is defined and tag.id in object.tags|keys) ? 'selected="selected"':''  }}>{{tag.name}}</option>
  	        {% endfor %}
  	      </select>
  	      <br/>
  	    {% endfor %}
    
  	    <section>
  	    {% for table, values in potentialCrossingValues %}
  	    <h2>{{table}}s</h2>
  	      {% for value in values %}
  	        <input type="checkbox" name="crossings[{{table}}][]" value="{{value.id}}" 
  	        {% if object[table] is defined %}
  	          {% for obj in object[table] %}
  	            {% if value.id == obj.id %}checked{% endif %} 
  	          {% endfor %}
  	        {% endif %}
  	        />
  	        {% if value.name is defined %}{{value.name}}{% else %}{{value.title}}{% endif %}<br>
  	      {% endfor %}
  	    {% endfor %}    
  	    </section>
  		{%endif%}
    
      <section>
        <input class="btn" type="submit" value="Confirmer">
      </section>
      <section>
      </section>
    </form>
  {% endif %}
  {# end fields #}

  {% if (object) %}
    {% if app['gallery.objects'][app.request.get('objectType')]['media'] is defined %}
      <section>
          {% for imageType, imageFormat in app['gallery.objects'][app.request.get('objectType')]['media']['image.formats'] %}
            <span>Pictures - {{imageType}} (W {{imageFormat.maxWidth}} x H {{imageFormat.maxHeight}} px)</span> <span id="uploading-progress-{{imageType}}" style="color: red"></span>
            <div class="sub-section">
              <ul class="series sortable dropzone-previews" media_type="{{imageType}}" id="dropzone-{{imageType}}">
              {% for medium in object.media %}
                  {% if medium.type == imageType %}              
              			<li class="object-media" object_id="{{medium.id}}">
                      <div class="object-media-preview" style="background-image: url('uploads/images/{{ medium.url }}')"></div>
            					<form id="delete-media-form-{{medium.id}}" class="media-form" method="post">
                        <a class="delete-btn" form="delete-media-form-{{medium.id}}" href="#"><img src="images/gallery/delete.png" /></a>
            						<input type="hidden" name="delete-media" value="{{medium.id}}">
            					</form>
            					<form id="edit-media-form-{{medium.id}}" class="media-form" method="post">
                        {% if imageFormat.fields is defined %}
                          <a class="edit-btn" form="edit-media-form-{{medium.id}}" href="backend/{{ app.request.get('objectType') }}/{{object.id}}/add-media/{{imageType}}/{{medium.id}}"><img src="images/gallery/edit.png" /></a
                        {% endif %}
            						<input type="hidden" name="delete-media" value="{{medium.id}}">
            					</form>
              			</li>                
                  {% endif %}
                {% endfor %}
              <div style="clear:both"></div>
            </ul>
            <a class="btn" href="backend/{{ app.request.get('objectType') }}/{{object.id}}/add-media/{{imageType}}/new">Add {{imageType|capitalize}}</a> 
          </div>
          {% endfor %}
					{% if app['gallery.objects'][app.request.get('objectType')]['media']['sound.formats'] is defined %}
	          {% for soundType, soundFormat in app['gallery.objects'][app.request.get('objectType')]['media']['sound.formats'] %}
	            <span>Sounds - {{soundType}}</span> 
							<span id="uploading-progress-{{soundType}}" style="color: red"></span>
	            <ul class="series sortable dropzone-previews" media_type="{{soundType}}" id="dropzone-{{soundType}}">
	            {% for medium in object.media %}
	                {% if medium.type == soundType %}              
	            			<li class="object-media" object_id="{{medium.id}}">
	                    <div class="object-media-preview">
												<audio controls style="width: 100%">
													<source src="uploads/sounds/{{ medium.url }}" type="audio/mpeg">
														Your Browser does not support the audio tag.
												</audio>
	                    </div>
	          					<form id="delete-media-form-{{medium.id}}" class="media-form" method="post">
	                      <a class="delete-btn" form="delete-media-form-{{medium.id}}" href="#"><img src="images/gallery/delete.png" /></a>
	          						<input type="hidden" name="delete-media" value="{{medium.id}}">
	          					</form>
	          					<form id="edit-media-form-{{medium.id}}" class="media-form" method="post">
	                      <a class="edit-btn" form="edit-media-form-{{medium.id}}" href="backend/{{ app.request.get('objectType') }}/{{object.id}}/add-media/{{soundType}}/{{medium.id}}"><img src="images/gallery/edit.png" /></a
	          						<input type="hidden" name="delete-media" value="{{medium.id}}">
	          					</form>
	            			</li>                
	                {% endif %}
	              {% endfor %}
	            <div style="clear:both"></div>
	          </ul>
	          <a class="btn" href="backend/{{ app.request.get('objectType') }}/{{object.id}}/add-media/{{soundType}}/new">Add {{soundType|capitalize}}</a> 
	          {% endfor %}					
					{% endif%}
        <div style="clear:both"></div>
      </section>
    {% endif %}
    {% if app['gallery.objects'][app.request.get('objectType')]['doc'] is defined %}
      <section>
      {% set currentDocSection = '' %}
      <ul class="object-list">
      {% for doc in object.docs %}
        {% if doc.type != currentDocSection %}
          <div style="clear: both; height: 30px"></div>
          <p><span>Docs - {{doc.type|upper}}</span></p>
          {% set currentDocSection = doc.type %}
	      {% endif %}
        <li class="object-item">          
          <p>{{doc.name}}</p>           
          <div class="object-media-preview" style="background-image: url('uploads/doc-previews/{{ doc.preview_url }}')"></div>
          <form id="delete-doc-form-{{doc.id}}" method="post" class="media-form">
            <a class="delete-btn" form="delete-doc-form-{{doc.id}}" href="#"><img src="images/gallery/delete.png" /></a>
            <input type="hidden" name="delete-doc" value="{{doc.id}}">
          </form>
        </li>
        {% endfor %}
        <div style="clear:both"></div>
				{% for docType, docInfo in app['gallery.objects'][app.request.get('objectType')]['doc']['formats'] %}
					<a class="btn" href="backend/{{ app.request.get('objectType') }}/{{object.id}}/add-doc/{{docType}}">Add {{docType}}</a>
				{% endfor%}
      </section>
    {% endif %}
  {% endif %} 

  <div id="empty" style="display:none"></div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="js/vendor/jscolor/jscolor.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        
        {% if object.id is defined %}
          {% if app['gallery.objects'][app.request.get('objectType')]['media'] is defined %}
            {% for imageType, imageFormat in app['gallery.objects'][app.request.get('objectType')]['media']['image.formats'] %}
              $("#dropzone-{{imageType}}").dropzone({ 
                url: "backend/{{app.request.get('objectType')}}/{{object.id}}/add-media/{{imageType}}/new",     
                paramName: 'media',  
                previewsContainer: '#empty',
                uploadprogress: function(file, progress) {
                  if (progress < 100) {
                    $('#uploading-progress-{{imageType}}').html('(uploading: ' + parseInt(progress) + '%)');                
                  } else {
                    $('#uploading-progress-{{imageType}}').html('(processing file...)');                
                  }
                },
                success: function(file, ret) {location.reload();}
              });
            {% endfor %}
						{% if app['gallery.objects'][app.request.get('objectType')]['media']['sound.formats'] is defined %}
	            {% for soundType, soundFormat in app['gallery.objects'][app.request.get('objectType')]['media']['sound.formats'] %}
	              $("#dropzone-{{soundType}}").dropzone({ 
	                url: "backend/{{app.request.get('objectType')}}/{{object.id}}/add-media/{{soundType}}/new",     
	                paramName: 'media',  
	                previewsContainer: '#empty',
	                uploadprogress: function(file, progress) {
	                  if (progress < 100) {
	                    $('#uploading-progress-{{soundType}}').html('(uploading: ' + parseInt(progress) + '%)');                
	                  } else {
	                    $('#uploading-progress-{{soundType}}').html('(processing file...)');                
	                  }
	                },
	                success: function(file, ret) {location.reload();}
	              });
	            {% endfor %}
						{% endif %}
          {% endif %}
        
          $('.sortable').sortable().bind('sortupdate', function(e, ui) {
            var type = ui.item.parent().attr('media_type');
            var objects = ui.item.parent().children('li');
            var nbObjects = objects.length;
            var objectOrderStr = '';
            for (var i = 0 ; i< nbObjects ; i++)
            {
              objectOrderStr += $(objects[i]).attr('object_id') + ';';
            }
            $.post('backend/{{ app.request.get('objectType') }}/' + type + '/reorder', {'objectOrder': objectOrderStr});          
          });
        {% endif %}
      })
    </script>
{% endblock %}